.course {
  height: 45px;
  background-color: var(--gray-lighter);
  border-radius: var(--container-radius);
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-bottom: 15px;

  &.colliding {
    background-color: var(--red-dark);
  }

  .button-common {
    cursor: pointer;
    color: var(--gray-lightest);
    transition: color var(--transitions);
    &:hover {
      color: white;
    }
  }

  .closebutton {
    @extend .button-common;
    margin-left: 10px;
    margin-right: 15px;
    font-size: larger;
  }

  .coursetext {
    margin-left: 20px;
    font-size: large;
    flex: 1;
    text-align: left;
  }

  .thumb {
    margin-left: 12px;
    width: var(--thumb-width);
    height: 70%;
    border-radius: var(--container-radius);
  }
  @media (max-width: 768px) {
    .coursetext {
      font-size: larger;
    }

    .closebutton {
      font-size: x-large;
      cursor: pointer;
    }
  }
}
.coursestatustext {
  text-align: left;
}

@media (max-width: 768px) {
  .coursestatustext {
    font-size: larger;
  }
}
