.course {
  height: 50px;
  background-color: gray;
  border-radius: var(--container-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .closebutton {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }

  .coursetext {
    margin-left: 20px;
    font-size: larger;
  }

  .thumb {
    margin-left: 12px;
    width: var(--thumb-width);
    height: 70%;
    border-radius: var(--container-radius);
  }
}
