.daycontainer {
  position: relative; /* allows absolute positioning inside */
  overflow: visible;
}

.hour {
  height: 50px; /* fixed height for each hour */;
  color: gray;
  border-top: 1px solid gray;
  border-left: 1px dashed gray;
  padding: 8px;
  box-sizing: border-box;
}

.event {
  position: absolute; /* sits on top of hour divs */
  transition: background-color var(--transitions);
  background-color: var(--gray-lighter);
  box-sizing: border-box;
  border-radius: var(--container-radius);
  overflow: visible;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &.colliding {
    background-color: var(--red-dark);
    &:hover {
      background-color: var(--red-darker);
    }
  }

  &.disabled {
    background-color: var(--button-color);
    opacity: 50%;
  }

  &:hover:not(.colliding) {
    background-color: var(--container-hover-color);
  }

  .event-tooltip {
    position: absolute;
    top: 105%;
    max-width: var(--tooltip-width);
    width: max-content;

    --tooltip-width: 200px; // matches max-width

    /* Center tooltip but prevent overflow on right */
    left: clamp(
      0px,                                  /* never go past left edge */
      50%,                                  /* normal center */
      calc(100% - var(--tooltip-width))     /* never go past right edge */
    );

    transform: translateX(-50%);
    white-space: normal;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    z-index: 1000;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease;
  }

  &:hover .event-tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.eventcontainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding-right: 5px;
}
.eventtitle {
  overflow: hidden;
  max-width: 100%;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.eventcontent {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: smaller;
  color: var(--sub-white);
  max-width: 100%;
}

.eventparty {
  max-width: 100%;
  margin-left: 0px;
  width: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  margin-top: 0px;
  gap: 5px;
  padding: 0px;
  color: var(--sub-white);
  font-size: small;
}

.eventthumb {
  width: var(--thumb-width);
  margin-left: 0px;
  border-radius: var(--container-radius);
  height: 85%;
  align-self: center;
  margin-right: 10px;
  margin-left: 8px;
  flex-shrink: 0;
}
