.daycontainer {
  position: relative; /* allows absolute positioning inside */
  width: 200px;
}

.hour {
  height: 50px; /* fixed height for each hour */
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

.event {
  position: absolute; /* sits on top of hour divs */
  background-color: gray;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.eventthumb {
  width: 5px;
  margin-left: 0px;
  border-radius: 5px;
  height: 80%;
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
  flex-shrink: 0;
}
