.selector{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 20px;
}

.selectorbutton{
    padding: 7px;
    width: 100%;
    font-size: smaller;

    &.selected{
        background-color: var(--button-hover-color);
        border-color: var(--button-hover-border-color);
    }

    &.disabled{
        background-color: var(--gray-darker);
        cursor: not-allowed;
        color: gray
    }

}