.week-selector {
  display: flex;
  gap: 4px;
  min-height: calc(1em + 2 * 10px); // font-size + vertical padding
  margin-bottom: 10px;
  width: 100%;

  button {
    @extend button; // inherit all global button styles
    border-radius: var(--container-radius);
    padding-left: 5px;

    padding-right: 5px;
    font-size: small;
    flex: 1 1 0;

    &.selected {
      background-color: var(--button-hover-color);
      color: white;
      font-weight: bold;
      border-color: var(--button-hover-border-color);
    }

    &.collision {
      background-color: var(--red-dark);
      color: white;
      transition: background-color var(--transitions);
    }

    &.collision-selected {
      transition: background-color var(--transitions);
      background-color: var(--red);
      color: white;
    }
  }
  @media (max-width: 768px) {
    button {
      font-size: small;
    }
  /* Mobile layout */
  }
}
