:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: #242424;
  --gray-lighter: rgb(95, 95, 95);
  --gray-lightest: rgb(163, 163, 163);
  --gray-darker: #1f1f1f;
  --button-color: #151515;
  --button-hover-color: #19344f;
  --button-hover-border-color: #0056b3;
  --sub-white: rgb(205, 205, 205);

  --container-hover-color: rgb(80, 80, 80);

  --red: rgb(220, 38, 38);
  --red-dark: rgb(140, 38, 38);
  --red-darker: rgb(119, 32, 32);

  --container-radius: 5px;
  --thumb-width: 5px;
  --transitions: 0.25s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: 8px;
  width: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--gray-lighter);
}

input:hover {
  transition: border-color var(--transitions);
  border-color: var(--button-hover-border-color);
}

button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --bg-color: #ffffff;
    background-color: var(--bg-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
